/* CSS declarations go here */

body{
	text-align: center;
}

#searchForm, #results, .table, .table th {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#results{
  margin-top: 30px;
}
#remove-button{
  background: none;
  border: none;
  outline:0;
}
#remove-button span{
  font-size: 20px;
  color:#ccc;
  padding:5px;
  outline:0;
}
#remove-button span:hover{
  font-size: 20px;
  color:#888;
  outline:0;
}
#searchForm{
	margin-top: 20px;
	width: 400px;
}
.selected{
	background: #3ED28B;
}
.clicked{
	background: #C51E1E;
}

/*.table{
	width:80%;
}*/
.cover{
	float:left;
  width:50px;
}
.sort:hover{
	cursor:pointer;
	color:#21b26a;
}
table.table thead th.active{
	color:#21b26a;
	background: #fff;
}
.resize{
	color:#ccc;
}

.resize:hover{
	cursor:col-resize;
	color:#007FEB;
}
.resize.glyphicon-transfer{
	float:right;
}

table th.resizing .resize{
    cursor: col-resize;
}
table th{
	min-width: 110px;
} 
th span.asc, th span.desc{
  display:none;
}
th.active.asc span.asc, th.active.desc span.desc{
  display:inline-block;
}

.player{
	color:#21b26a;
}

.btn, .badge{
	color:#fff;
	background:#47D590;
}
.btn:hover, .btn.active{
	color:#fff;
	background:#21b26a;
}


a{
	color:#2a7c5e;
}
.clear{
	font-weight: bold;
}



/* Spinner css */
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
